<app-navbar></app-navbar>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-5">
      <div class="card shadow-3 p-4">
        <h4 class="text-center fw-bold mb-4">Iniciar sesión</h4>

        <form (ngSubmit)="loginUser()">
          <div class="form-outline mb-4">
            <input type="email" [(ngModel)]="credentials.email" name="email" id="email" class="form-control" required />
            <label for="email" class="form-label">Correo</label>
          </div>

          <div class="form-outline mb-4">
            <input type="password" [(ngModel)]="credentials.password" name="password" id="password" class="form-control" required />
            <label for="password" class="form-label">Contraseña</label>
          </div>

          <button type="submit" class="btn btn-primary w-100">Ingresar</button>
        </form>

        <div *ngIf="message" class="alert alert-info mt-3 text-center">
          {{ message }}
        </div>
      </div>
    </div>
  </div>
</div>
