.container mt-5{
  border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff !important;
}

.card {
  border-radius: 1rem;
}

h4 {
  color: #4b4b4b;
}
